account_id                = "AWS ACCOUNT ID"
env                       = "dev"
module_prefix             = "blue"
sentry_helm_chart_version = "17.0.0"
sentry_secret_key         = "XXXXX"

vpc_id                     = "vpc-XXXXX"
private_subnet_ids         = ["subnet-XXXXX", "subnet-XXXXX"]
public_subnet_ids          = ["subnet-XXXXX", "subnet-XXXXX"]
allowed_cidr_blocks        = ["IP CIDR BLOCK"]
allowed_security_group_ids = ["sg-XXXXX"]

db_host = "RDS CLUSTER HOSTNAME"
db_port = "5432"
db_name = "sentry"
db_user = "RDS USERNAME"
db_pass = "RDS PASSWORD"

sentry_root_user_email    = "EMAIL ADDRESS"
sentry_root_user_password = "PASSWORD STRING"

hosted_zone_subdomain     = "example.com"
subdomain_cert_arn        = "arn:aws:acm:<AWS REGION>:<AWS ACCOUNT>:certificate/<CERT ID>"

smtp_enable   = true
smtp_host     = "SMTP HOSTNAME"
smtp_username = "SMTP USERNAME"
smtp_password = "SMTP PASSWORD"

slack_enable                = true
sentry_slack_client_id      = "SLACK CLIENT ID"
sentry_slack_client_secret  = "SLACK CLIENT SECRET"
sentry_slack_signing_secret = "SLACK SIGNING SECRET"

create_prometheus_server    = true
oidc_provider               = "EKS OIDC PROVIDER ID"
sentry_amp_workspace_id     = "ws-XXXXX"
